
$primary-color: #398A8D;
$primary-color: #E0F4E9;
$primary-color: #B6D9D5;
$primary-color: #ED4630;
$red-main: #ED4853;//possible
$primary-color: #54BFAF;
$primary-color: #58C6AA;
$primary-color: #58CCCB;
$primary-color: #67F1D7;

$secondary-color: #4F4C4C;
$secondary-color: #262627;


body {
  padding-top: 10px;
  background-color: #FCFCFC;
  background-color: $secondary-color;
  background-color: white;
  font-family: 'Lato', sans-serif;
  color: $secondary-color;
}

.header {
  text-align: center;
  .tag-line {
    font-size: 15px;
    color: grey;
  }
  .logo-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: grey;
    background-color: $primary-color;
    background-color: #F0F0F0;

    #logo {
      width: 100%;
      color: $primary-color;
    }
  }


  background-color: $secondary-color;
  background: linear-gradient(to bottom right, $secondary-color, #0C0C0C);
  font-family: 'Lato', sans-serif;
  font-weight: $secondary-color;
  .title {
    font-family: 'Roboto', sans-serif;
    font-weight: thin;
    padding-top: 0.7%;
    .logo-outline {
      height: 150px;
      width: 150px;
      float: left;
      clear: both;
    }
    h6 {
      color: grey;
      font-size: 15px;
    }
  }
  .intro {
    text-align: center;
    font-size: 50px;
    font-weight: thin;
    padding: 10% 15%;
    font-family: 'Lato', sans-serif;
    span {
      color: $primary-color;
    }
  }
}


.skills {
  text-align: center;
  padding-bottom: 90px;
  .dev-skills {
    background-color: $secondary-color;
    color: $primary-color;
    .icon {
      font-size: 70px;
      padding: 20px 0;
    }
  }
  .other-skills {
    background-color: #F6F6F6;
    background-color: $primary-color;
    color: $secondary-color;
  }
}

.extra-height {
  height: 400px;
}

.work {
  // background-color: $primary-color;
  // background-color: white;
  padding: 0px;
  padding-bottom: 80px;
  color: $secondary-color;

}


//Universal SCSS

.center {
  text-align: center;
}

h1 {
  padding: 30px;
}

/////////////////////////////////////





// .project {
//   // background-color: white;
//   .project-image {
//     width: 100%;
//     // height: 100%;
//     display:block;
//     margin-left: auto;
//     margin-right: auto;
//     // margin: 0px;
//   }
// }

.img-container {
   position:relative;
   overflow: hidden;
   width: 100%;
   height: 320px;
   background-color: white;
   .index-img {
    position: absolute;
     top: 0;
     left: 0;
     width:100%;
   }
}

.project-rows {

}
.card-body {
  background-color: white;
  margin-bottom: 25px;
  text-align: center;
  button {
    margin: 5px;
  }
}

// .grow {
//   height: 49px;
//   width: 100%;
//   float: left;
//   position: relative;
//   transition: height 0.5s;
//   -webkit-transition: height 0.5s;
//   text-align: center;
//   overflow: hidden;
// }
//
// .grow:hover {
//   height: 100%;
// }





.about {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #E0F4E9;
  background-color: #F6F6F6;
  background-color: white;
  .portrait-container {
    padding: 0;
    .portrait {
      width: 100%;
    }
  }
}

.contact {
  text-align: center;
  background-color: $secondary-color;
  background-color: #F6F6F6;
  color: white;
  padding: 5px 0 80px 0;
}

.primary-color {
  $primary-color: #67F1D7;
}

//animation

////////////////////////////////////
//Project Image Zoom
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/////////////////////////////IMPORTANT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// .item {
//   position: relative;
//   overflow: hidden;
//   // background: #000;
//   // background: white;
//   padding: 0;
//   margin: 0px;
//   margin-left: 0;
// }
// .item img {
//   max-width: 100%;
//   -moz-transition: all 0.4s;
//   -webkit-transition: all 0.4s;
//   transition: all 0.5s;
//   // padding: 10px;
// }
// .item:hover img {
//   -moz-transform: scale(1.03);
//   -webkit-transform: scale(1.04);
//   transform: scale(1.04);
//   // opacity: 0.3;
//    // -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
// }

///////////////////////////////////


//Intro Text Pulse
.element {
  animation: pulse 5s;
  margin: 0;
}

@keyframes pulse {
  0% {
    color: $secondary-color;
  }
  100% {
    color: white;
  }
}


// html, body {
//   height: 100%;
// }

// .box-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: '../assets/music-box.png';
//   font-family: 'Lato', sans-serif;
// }



.image-a {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
  // overflow: hidden;
  width: 100%;
  height: 0;
  transition: .7s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: grey;
  font-size: 15px;
  font-weight: thin;
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

#main {
  background-color: #F5F5F5;
}
